body {
    background-color: #141415;
}

.brand-logo {
    font-size: 2em !important;
}

.rom-logo {
    margin: 2em 1em 1em 1em;
    height: 100px;
    width: auto;
}

.rom-logo-wrapper {
    display: flex;
    justify-content: center;
}

.btn-succ {
    background-color: #141415;
    width: 100%;
    margin: 3px;
    text-align: center;
}

.btn-succ:hover {
    background-color: #333333;
}